.flakePickerRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid var(--mantine-color-gray-3, #dee2e6);
}

.flakePickerFilter {
  overflow-y: auto;
  flex-shrink: 0;
  max-height: 60%;
  border-bottom: 1px solid var(--mantine-color-gray-3, #dee2e6);
}

.flakePickerSearchBar {
  padding: 1.0rem 0.75rem;
  border-bottom: 1px solid var(--mantine-color-gray-3, #dee2e6);
  flex-shrink: 0;
}

.flakePickerGrid {
  overflow-y: auto;
  flex: 1;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-content: start;
  align-items: start;
}

.flakePickerGridHeader {
  grid-column: 1 / -1;
}

.flakePickerEmpty {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  opacity: 0.5;
}

.flakePickerLoadMore {
  grid-column: 1 / -1;
  padding: 0.5rem;
}
